body{
	margin: 0px;
	padding: 0px;
}
.menu, .container, .header, .logo{
	width: 100%;
}
.main .menu-right{
	width: 30%;
	float: left;
}
.main .main-content{
	width: 70%;
	float: left;
}
.logo{
	display: flex;
	height: 200px;
}
.menu{
	display: flex;
	background-color: #bf3b32;
}
.menu .menu-icon{
	float: left;
	padding: 15px;
}
.menu ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: flex;
	cursor: pointer;
}
.menu ul li{
	padding: 15px;
	color: white;
}
.menu ul li:hover{
	background-color: #b5a4a3;
}
.main-search{
	font-size: 16px;
	padding: 8px 5px;
	margin-top: 10px;
	margin-right: 10px;
	height: 20px;
	width: 200px;
}
.item-1{
	display: flex;
}
.item-1 label{
	padding: 10px;
}
.item-1 img{
	width: 300px;
	padding: 10px;
}
.item-2{
	display: flex;
}
.item-2 label{
	padding: 10px;
}
.item-2 img{
	width: 100px;
	padding: 10px;
}